<!DOCTYPE html>
<html lang="fr" ng-app="pokeninho">
<head>
    <meta charset="utf-8"/>
    <title>Pokéninho</title>
    <link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
<header>
    
</header>
<!-- Liste complète du pokemon -->
<div ng-controller="listPokemon">
    <div id="pokeList" >
        <div id="{{pokemon.id}}" ng-repeat="pokemon in pokemons" class="ct gh" ng-click="showDiv(pokemon.id, pokemon.namefr, pokemon.code);params=1">
            <div details ng-style="{'background-position': getSpriteStyle(pokemon.id)}" ng-class="getCorrectBackgroundImage(pokemon.id)" ></div>
            <div class="bottom">{{pokemon.code}} {{pokemon.namefr}}</div>

            <!--<div>{{pokemon.LvlUp}}</div>-->
        </div>
    </div>


<!-- Détails du pokémon sélectionné -->
    <div id="pokemonDetailsDiv" ng-controller="detailsPok" ng-show="params">
        <div class="detailsMenu" >
            <a href="" >
                <img src="img/close.png" alt="Quitter">
            </a>
            <a ng-href="http://www.serebii.net/pokedex-sm/{{strId}}.shtml" target="_blank">
                <img src="img/serebii.png" alt="Fiche serebii">
            </a>
            <a href="http://www.pokebip.com/pokemon/pokedex/index.php?phppage=recherche&amp;submit=Go+!&amp;req=%23{{strId}}"
               target="_blank">
                <img src="img/pokebip.png" alt="Fiche pokebip">
            </a>
        </div>
         <div style="float:left;height:96px;width:96px;">
            <img ng-src="{{url}}"/>
        </div>

        <div style="float:left;height:96px;width:200px;">
            <span style="font-size:18px;font-weight:bold;">#{{strId}} {{nameFra}}</span>
            <br>
            {{nameEnu}}
            <table>
                <tbody>
                <tr>
                    <td ng-repeat="typePok in pokTypes" style="margin-left:40px;" ng-attr-id="type{{$index+1}}"
                        class="type type{{getTypeId(typePok.type.url)}}">
                        {{getType(typePok.type.name)}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
 
    <div>
        <table id="pokemonStatsDiv">
            <tbody>
            <tr>
                <th>PV</th>
                <th>Atq</th>
                <th>Def</th>
                <th>Atq spé</th>
                <th>Def Spé</th>
                <th>Vit</th>
                <th>Total</th>
            </tr>
            <tr>
                <td ng-repeat="pokemonStat in pokemonStats">
                    {{pokemonStat.base_stat}}
                </td>
                <td>Total</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="bower_components/angular/angular.min.js"></script>
<script src="index.js"></script>
</body>
</html>
